@model GeneralViewModel

<!--================Post Slider Area =================-->
<section class="post_slider_area">
    <div class="post_slider_inner owl-carousel">

        @foreach (var item in Model.ArticleList.Where(w => w.Slider == 1))
        {
            <div class="item">
                <div class="post_s_item">
                    <div class="post_img">
                        <img src="~/upload/@item.Image" alt="">
                    </div>
                    <div class="post_text">
                        <a class="cat" href="/Category/@(item.Category.Slug)">@(item.Category.CategoryName)</a>
                        <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.Guid"><h4>@item.Title</h4></a>

                        @if (item.Content.Length > 20)
                        {
                            <p>@(item.Content.Substring(0, 20))</p>
                        }
                        else
                        {
                            <p>@(item.Content)</p>
                        }

                        <div class="date">
                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> @(item.PublishingDate.ToShortDateString())</a>
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.CommentCount</a>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</section>
<!--================End Post Slider Area =================-->
<!--================Blog Area =================-->
<section class="blog_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">

                    @foreach (var item in Model.ArticleList.Where(w => w.Slider == 0))
                    {
                        <article class="blog_style1">
                            <div class="blog_img">
                                <img class="img-fluid" src="~/upload/@(item.Image)" alt="">
                            </div>
                            <div class="blog_text">
                                <div class="blog_text_inner">
                                    <a class="cat" href="/Category/@(item.Category.Slug)">@(item.Category.CategoryName)</a>
                                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.Guid"><h4>@(item.Title)</h4></a>
                                    @if (item.Content.Length > 175)
                                    {
                                        <p>@(item.Content.Substring(0, 175))</p>
                                    }
                                    else
                                    {
                                        <p>@(item.Content)</p>
                                    }

                                    <div class="date">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> @(item.PublishingDate.ToShortDateString())</a>
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @(item.CommentCount)</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }


                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#" class="page-link">01</a></li>
                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            @await Component.InvokeAsync("RightSide")

        </div>
    </div>
</section>
<!--================Blog Area =================-->
