@model GeneralViewModel

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Model.Category.CategoryName</h2>
                <div class="page_link">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a href="/Category/@Model.Category.Slug">@Model.Category.CategoryName</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Blog Area =================-->
<section class="blog_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">

                    @foreach (var item in Model.PaginationModel.ArticleList)
                    {
                        <article class="blog_style1">
                            <div class="blog_img">
                                <img class="img-fluid" src="~/upload/@(item.Image)" alt="">
                            </div>
                            <div class="blog_text">
                                <div class="blog_text_inner">
                                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.Guid"><h4>@(item.Title)</h4></a>
                                    @if (item.Content.Length > 175)
                                    {
                                        <p>@(item.Content.Substring(0, 175))</p>
                                    }
                                    else
                                    {
                                        <p>@(item.Content)</p>
                                    }

                                    <div class="date">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> @(item.PublishingDate.ToShortDateString())</a>
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @(item.CommentCount)</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }


                    @if (Model.PaginationModel.PageCount > 1)
                    {
                        @Html.Raw(Model.PaginationModel.Html);
                    }
                    
                </div>
            </div>
            
            @await Component.InvokeAsync("RightSide")

        </div>
    </div>
</section>
<!--================Blog Area =================-->
