@model GeneralViewModel

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Blog Post Details</h2>
                <div class="page_link">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a href="single-blog.html">Post Details</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Blog Area =================-->
<section class="blog_area p_120 single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <img class="img-fluid" src="~/upload/@Model.Article.Image" alt="">
                    <a href="#"><h4>@Model.Article.Title</h4></a>
                    <div class="user_details">

                        <div class="float-right">
                            <div class="media">
                                <div class="media-body">
                                    <h5>@Model.Article.NameSurname</h5>
                                    <p>@Model.Article.PublishingDate</p>
                                </div>
                                <div class="d-flex">
                                    <img src="~/img/blog/user-img.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>@Model.Article.Content</p>
                    <div class="news_d_footer">
                        <a href="#"><i class="lnr lnr lnr-heart"></i>Views: @Model.Article.Hit</a>
                        <a class="justify-content-center ml-auto" href="#"><i class="lnr lnr lnr-bubble"></i>@Model.Comments.Count Comments</a>
                        <div class="news_socail ml-auto">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </div>
                    </div>
                </div>
                <div class="navigation-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">

                            @if (Model.PrevArticle != null)
                            {
                                var prevArticle = Model.PrevArticle;
                                <div class="thumb">
                                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@prevArticle.Guid"><img class="img-fluid" src="~/upload/@prevArticle.Image" width="100" height="60" alt=""></a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@prevArticle.Guid"><h4>@prevArticle.Title</h4></a>
                                </div>
                            }

                        </div>
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                            @if (Model.NextArticle != null)
                            {
                                var nextArticle = Model.NextArticle;
                                <div class="thumb">
                                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@nextArticle.Guid"><img class="img-fluid" src="~/upload/@nextArticle.Image" width="100" height="60" alt=""></a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@nextArticle.Guid"><h4>@nextArticle.Title</h4></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>@Model.Comments.Count Comments</h4>
                    <div class="comment-list">

                        @if (Model.Comments.Count > 0)
                        {
                            foreach (var item in Model.Comments)
                            {
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="~/img/blog/c1.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">@(item.Name)</a></h5>
                                            <p class="date">@(item.CreatedDate.ToShortDateString())</p>
                                            <p class="comment">
                                                @(item.CommentText)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    </div>

                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>

                    <div class="form-group form-inline">
                        <div class="form-group col-lg-6 col-md-6 name">
                            <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 email">
                            <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control mb-10" rows="5" name="message" id="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                    </div>
                    <a href="javascript:saveComment();" class="primary-btn submit_btn">Post Comment</a>

                </div>
            </div>
            
            @await Component.InvokeAsync("RightSide")

        </div>
    </div>
</section>
<!--================Blog Area =================-->
@section Scripts{
    <script type="text/javascript">
        function saveComment() {
            var name = $('#name').val();
            var email = $('#email').val();
            var message = $('#message').val();

            if (name == "" || email == "" || message == "") {
                alert("Please fill all form fields")
            } else {
                $.ajax({
                    url: "/Comment/Add/@(Model.Article.Guid)",
                    method: "POST",
                    data: {
                        "name": name,
                        "email": email,
                        "message": message,
                    },
                    dataType: "JSON",
                    success: function (data) {
                        if (data.success) {
                            alert("Your comment has been posted");
                            $('#name').val('');
                            $('#email').val('');
                            $('#message').val('');
                        } else {
                            alert("Something went wrong, try again");
                        }
                    }
                })
            }
        }
    </script>
}